.shop{
    position: relative;
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    margin: auto;
    padding: 20px 20px;
    align-items: center;
}
.cart{
    position: sticky;
    top: 0px;
}

@media only screen and (max-width: 1200px) {
    .shop{
        grid-template-columns: 4fr 2fr;
    }
    .products{
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (max-width: 850px) {
    .shop{
        grid-template-columns: 1fr;
    }
    .products{
        grid-template-columns: 1fr;
        
    }
}